<div class="container mt-from-menu">
    <div class="row text-center">
        <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\image\logos\angular\cartman.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ produto.nome}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/produto-detalhe', produto.id]" class="btn btn-primary" >Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>