<!--Page content-->
<header class="bg-primary py-5 ">
    <div class="container h-100">
        <div class="row h-100 aling-items-center">
            <div class="col-lg-2">
                <img src="..\assets\image\logos\angular\angular.png">
            </div>
            <div class="col-lg-10">
                <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
                <p class="lead mb-5 text-white">Você está pronto para apender muito sobre este fantastico framework</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\image\logos\angular\teste1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\image\logos\angular\cartman.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\image\logos\angular\teste_3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="..\assets\image\logos\angular\teste_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
<!--Fim content-->
